<!DOCTYPE html>

<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
</style>
</head>

<body>

<header>

      <div class="row">


          <nav id="main-nav-wrap">
              <ul class="main-navigation">

                  <li><a href="#" title="">Inicio</a></li>
                  <li><a href="#" title="">TOP 10 NEWS</a></li>
                  <li><a href="#" title="">acerca de</a></li>


              </ul>
          </nav>


      </div>

  </header>


{% for noticia in noticias %}

                   <h3>{{noticia.title}}</h3>
                   <h5>{{noticia.url}}</h5>
                   <h5>{{noticia.category}}</h5>
                   <h5>{{noticia.num_access}}</h5>

{% endfor %}
</body>
</html>
